<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<html lang="ko" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/static/css/footer.css}">
</head>



<div class="footer_container">
    <div class="container">
        <footer class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

            <a href="/" class="d-flex align-items-center">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 d-flex flex-row bd-highlight mb-3">
                <li><a href="#" class="nav-link px-2 link-secondary" onclick="location.href='/'" ><img th:src="@{/img/btn_main.png}" class="img_btn"></a></li>
                <li><a href="#" class="nav-link px-2 link-dark" onclick="location.href='/list/?page=1'"><img th:src="@{/img/btn_board.png}" class="img_btn"></a></li>
                <li><a href="#" class="nav-link px-2 link-dark" onclick="location.href='/game_BungterMelon'"><img th:src="@{/img/btn_game.png}" class="img_btn"></a></li>
                <li><a href="#" class="nav-link px-2 link-dark"><img th:src="@{/img/btn_scoreboard.png}" class="img_btn"></a></li>
            </ul>

            <div class="col-md-3 text-end">
                <p class="text-center text-muted">© 2022 Company, Inc</p>
            </div>
        </footer>
    </div>
</div>
