<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<html lang="ko" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5.0">
    <title>List</title>
    <link rel="stylesheet" th:href="@{/bootstrap-5.1.3-dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/board.css}">
</head>
<body>

<!--class="d-inline-block text-truncate" id="td_title"-->
    <!-- HEADER -->
    <div th:insert="common/header.html" id="header"></div>


    <div class="mainContent container-fluid" id="fragment_list" th:fragment="fragment_list(page)">
        <a th:if="${Login_UID != 'anonymousUser'}" th:href="@{/post}">글쓰기</a>
        <div class="contents_header">
                <div class="header_text">
                    <div class="row_top">
                        <span class="ht1">번호</span>
                        <span class="ht2">제목</span>
                    </div>
                    <div class="row_bottom">
                        <span class="ht3">작성자</span>
                        <span class="ht4">작성일</span>
                        <span class="ht5">조회수</span>
                    </div>
                </div>
        </div>

        <div class="contents_list" th:each="board : ${boardList}">

            <a class="post_link"
               th:onclick="|location.href = '@{'/post/' + ${board.id} + '/?page='+${pageNum}}'|"
               style="cursor: pointer">

                <div class="post_wrapper">
                    <div class="row_top">
                        <span class="ht1 d-inline-block" th:text="${board.id}"></span>
                        <span class="ht2 d-inline-block text-truncate" th:text="${board.title}"></span>
                    </div>
                    <div class="row_bottom">
                        <span class="ht3 d-inline-block text-truncate" th:text="${board.writer}"></span>
                        <span class="ht4 d-inline-block" th:text="${(#temporals.format(board.createdDate, 'yyyy-MM-dd') == today)?
                                                #temporals.format(board.createdDate, 'HH:mm') : #temporals.format(board.createdDate, 'yy.MM.dd')}"></span>
                        <span class="ht5 d-inline-block" th:text="123"></span>
                    </div>
                </div>

            </a>

        </div>

        <div class="div_paging container btn_paging">
            <nav class="nav_pagination">
                <ul class="pagination pagination-sm">
                    <li class="page-item"><a class="page-link" th:href="@{'/list/?page=' + ${prevBlock}}">&laquo;</a></li>
                    <li class="page-item"><a class="page-link" href="#"><</a></li>
                    <span th:each="pageNum : ${pageList}" th:inline="text">
                        <li class="page-item"><a class="page-link" th:href="@{'/list/?page=' + ${pageNum}}">[[${pageNum}]]</a></li>
                        </span>
                    <li class="page-item"><a class="page-link" th:href="@{'/list/?page=' + ${nextBlock}}">></a></li>
                    <li class="page-item"><a class="page-link" th:href="@{'/list/?page=' + ${lastBlock}}">&raquo;</a></li>
                </ul>
            </nav>
        </div>

        <div class="search_form">
            <form action="/board/search" method="GET" class="d-flex">
                <input class="form-control me-2" name="keyword" type="search" placeholder="검색어를 입력해주세요" aria-label="Search">
                <button class="btn btn-secondary btn-success" type="submit">Search</button>
            </form>
        </div>
<!--!!!!!!!!!!! div fragment !!!!!!!!!!! -->
        <!--<div id="fragment_list" th:fragment="fragment_list(page)">
            <a th:if="${Login_uID != 'anonymousUser'}" th:href="@{/post}">글쓰기</a>

            <table id="table_list" class="table table-responsive-sm table-striped table-hover">
                <thead>
                    <th class="th-1">번호</th>
                    <th class="th-2">글제목</th>
                    <th class="th-3">작성자</th>
                    <th class="th-4">작성일</th>
                    <th class="th-5">조회수</th>
                </thead>

                <tbody>

                    <tr th:each="board : ${boardList}"
                        th:onclick="|location.href = '@{'/post/' + ${board.id} + '/?page='+${pageNum}}'|"
                        style="cursor: pointer">
                        <td class="th-1" >
                            <span th:text="${board.id}"></span>
                        </td>
                        <td class="th-2">
                            <span th:text="${board.title}"></span>
                        </td>
                        <td class="th-3">
                            <span th:text="${board.writer}"></span>
                        </td>
                        <td class="th-4">
                            <span th:text="${(#temporals.format(board.createdDate, 'yyyy-MM-dd') == today)?
                                                #temporals.format(board.createdDate, 'HH:mm') : #temporals.format(board.createdDate, 'yy.MM.dd')}"></span>
                        </td>
                        <td class="th-5">
                            <span th:text="123" class="counter"></span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="btn_paging ">
                <nav>
                    <ul class="pagination pagination-sm">
                        <li class="page-item"><a class="page-link" th:href="@{'/list/?page=' + ${prevBlock}}">FirstPage</a></li>
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <span th:each="pageNum : ${pageList}" th:inline="text">
                        <li class="page-item"><a class="page-link" th:href="@{'/list/?page=' + ${pageNum}}">[[${pageNum}]]</a></li>
                        </span>
                        <li class="page-item"><a class="page-link" th:href="@{'/list/?page=' + ${nextBlock}}">Next</a></li>
                        <li class="page-item"><a class="page-link" th:href="@{'/list/?page=' + ${lastBlock}}">LastPage</a></li>
                    </ul>
                </nav>
            </div>

            <hr>


            <form action="/board/search" method="GET" class="d-flex">
                <input class="form-control me-2" name="keyword" type="search" placeholder="검색어를 입력해주세요" aria-label="Search">
                <button class="btn btn-secondary btn-success" type="submit">Search</button>
            </form>



        </div> -->
         <!--!!!!!!!!!!! div fragment !!!!!!!!!!!-->
        </div>
    </div>
    <!-- FOOTER -->
    <div th:insert="common/footer.html" id="footer"></div>
</body>

</html>
