<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/board.css}">

</head>
<body>
    <!-- HEADER -->
    <div th:insert="common/header.html" id="header"></div>

    <h3 th:if="${Login_UID != 'anonymousUser'}">안녕하세요,<span th:text="${Login_UID}"></span>!!</h3>
    <hr>


    <a sec:authorize ="denyAll()" th:href="@{/member/login}" >로그인</a>
    <a sec:authorize ="isAuthenticated()" th:href="@{/member/logout}" >로그아웃</a>
    <a sec:authorize ="isAnonymous()" th:href="@{/member/signUp}">회원가입</a>
    <br>
    <hr>
    <div id="mainContent">

        <hr>
        <br>
        <a th:href="@{/post}">글쓰기</a>

        <table>
            <thead>
            <tr>
                <th class="one wide">번호</th>
                <th class="ten wide">글제목</th>
                <th class="two wide">작성자</th>
                <th class="three wide">작성일</th>
            </tr>
            </thead>

            <tbody>
            <!-- CONTENTS !-->
            <tr th:each="board : ${boardList}">
                <td>
                    <span th:text="${board.id}"></span>
                </td>
                <td>
                    <a th:href="@{'/post/' + ${board.id}}">
                        <span th:text="${board.title}"></span>
                    </a>
                </td>
                <td>
                    <span th:text="${board.writer}"></span>
                </td>
                <td>
                    <span th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></span>

                </td>
            </tr>
            </tbody>
        </table>

        <div>

            <a th:href="@{/?page=1}">
                <span> << </span>
            </a>
            <a th:href="@{'/?page=' + ${prevBlock}}"> < </a>

            <span th:each="pageNum : ${pageList}" th:inline="text">
                <a th:href="@{'/?page=' + ${pageNum}}">[[${pageNum}]]</a>
            </span>

            <a th:href="@{'/?page=' + ${nextBlock}}"> > </a>

        </div>

        <hr>
        <!-- 검색 form -->
        <form action="/board/search" method="GET">
            <div>
                <input name="keyword" type="text" placeholder="검색어를 입력해주세요">
            </div>

            <button>검색하기</button>
        </form>
    </div>
    <!-- FOOTER -->
    <div th:insert="common/footer.html" id="footer"></div>
</body>
</html>
