<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div id="main_login">
        <form  action="/post" method="post">
            ID : <input type="text" name="username"> <br>
            PW : <input type="password" name="password"> <br>
            <input type="submit" value="가입" id="btn_join">
        </form>
    </div>

<button type="button" onclick="location.href='/'">리스트</button>
<!-- script -->
<script th:inline="javascript" th:src="@{/js/board.js}"></script>
</body>
</html>