@import "background.css";
@import "default_set.css";
@font-face {
    src: url("../font/bahnschrift.ttf");
    font-family: Bahnschrift;
}
.contents_list{
    background-color: #ffffff;
    background-color: rgba(255,255,255,0.8);
    font-size: calc(1vw);
    border: 1px solid #808080;
    border-radius: 5px;
    margin-top: 1px;
}
@media only screen and (min-width: 359px) and (max-width: 575px){
    .mainContent {
       /* border: 1px solid #ff0000 !important;*/
        padding: 0 !important;
    }
    .post_wrapper{
        height: fit-content;
    }
    .header_text > *{
        display: none;
    }
    .ht1{
        display: none !important;
    }
    .ht2 {
       /* border:1px solid #ff0000;*/
        font-family: Bahnschrift;

        font-weight: bold;
        font-size: 12px;
        width: 50%;
        margin-left: 10px;
    }
    .ht3 {
       /* border:1px solid #ff0000;*/
        width: 60px;
        align-content: center;
        text-align: center;
    }
    .ht4 {
        width: 15%;
        text-align: center;
        margin: 0 10px;
    }
    .ht5 {
        width: 10%;
        text-align: center;
    }
    .row_bottom {
        width: fit-content;
        margin: 0 0 0 auto;
    }
    .pagination{
        width: inherit !important;
        /*border: 1px solid #00ffff;*/
        margin: 0 auto;
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}
@media only screen and (min-width: 575px) and (max-width: 1800px){
    .mainContent{
        width: 80% !important;
    }
    .contents_header{
        background-color: #ffffff;
        background-color: rgba(255,255,255,0.8);
        font-size: calc(1vw);
        border: 1px solid #808080;
        border-radius: 5px;
        margin-top: 1px;
    }
    .header_text,.post_wrapper{
        display: flex;
        justify-content: space-between;
    }
    .header_text{
        font-weight: bolder;
        font-size: 15px;
    }
    .header_text > .ht3 , .ht4, .ht5 {
        margin-left: 60px;
    }
    .ht1 {
       /* border:1px solid #ff0000;*/
        margin-left: 10px;
        width: 10%;
        vertical-align: middle;
    }
    .ht2 {
        /* border:1px solid #ff0000;*/
        min-width: 300px;
        max-width: 40%;
        margin-left: 80px;
        font-family: Bahnschrift;
        font-size: 15px;
        font-weight: bold;
    }
    .ht3 {
        /* border:1px solid #ff0000;*/
        font-weight: bolder;
        width: 20%;
        align-content: center;
        text-align: center;
    }
    .ht4 {
        /* border:1px solid #ff0000;*/
        width: 20%;
        text-align: center;
    }
    .ht5 {
        /* border:1px solid #ff0000;*/
        text-align: center;
    }
    .row_bottom {
        width: 300px;
        display: flex;
        justify-content: space-evenly;
    }

    .div_paging {
        /*border:1px solid #000000;*/
        margin: 20px;
    }

    .pagination{
        width: inherit !important;
        margin: 0 auto;
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

}

