div#main_content{
    border: 2px solid #000000;
    margin: 30px auto;
    margin-left: 20px;
    margin-right: 20%;
}
table#btn_group_detail{
    float: right;
    margin-right: 20px;
    width: 180px;
}
tr#tr_detail_option{
    border-style: none;

}
td#Writer_Option_Update{
    border:none;
    text-align: right;
    width: 15%;
}

td#Vertical_bar{
    width: 2%;
}
div#Updown{
    border: 1px solid #000000;
    width: 0.1px;
    height: 30px;
    margin:0px auto;
}
td#Writer_Option_Delete{
    border:none;
    width: 15%;
}

tr#tr_detail_info{
    height: 20px;
    vertical-align: center;
}
td#td_Title{
    border-right: 2px solid #5c636a;
    width: 60%;
    height: 20px;
}
div#div_Title{
    margin-left: 20px;
}
span#span_Title{
    font-weight: bold;
}
td#td_Writer{
    border-left: 2px solid #5c636a;
    width: 15%;
    height: 20px;
}
div#div_Writer{
    text-align: center;
}
span#span_Writer{
    font-weight: bold;
}

td#td_Reporting_Date{
    border-left: 2px solid #5c636a;
    width: 15%;
    height: 20px;
}
div#div_Rep_Date{
    text-align: center;
}
span#span_Reporting_Date{
    font-weight: bold;
}

div#View_Content{
    padding: 20px;
}
/*
tr#tr_detail_info {
    width: 100%;
    border: 5px solid #00ff00;
    margin: 5px auto;
}
td#td_Title{
    border: 3px dot-dash #ff0000 !important;
}
td#td_Writer{
    border: 3px dot-dash #00ff00 !important;
}
td#td_Reporting_Date{
    border: 3px dot-dash #0000ff !important;
}
tr#tr_detail_content{
    width: 100%;
    border: 5px solid #0000ff;
    margin: 5px auto;
}
tr#tr_detail_option{
    width: 100%;
    border: 5px solid #ffff00;
    margin: 5px auto;
}*/
