@import "background.css";
@import "default_set.css";
@font-face {
    src: url("../font/bahnschrift.ttf");
    font-family: Bahnschrift;
}

.mainContent{
    background-color: #ffffff;
    background-color: rgba(255,255,255,0.8);
    font-size: calc(1vw);
    /*border: 1px solid #808080;*/
    border-radius: 5px;
    margin-top: 1px;
}

.error {
   /* border: 1px solid #000000;*/
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}


.error > *{
    font-family: Bahnschrift;
}
.error_code {
    text-align: center;
    margin: 0 auto;
    font-family: Bahnschrift;
}

.error_msg {
    text-align: center;
    margin: 20px auto;
    font-family: Bahnschrift;
}

.error_timestamp {
    text-align: center;
    margin-right: 0px;
    font-family: Bahnschrift;

}

.error_default_msg {
    text-align: center;
    margin: 30px auto;
    font-family: Bahnschrift;
}