@import "background.css";
@import "default_set.css";
@font-face {
    src: url("../font/bahnschrift.ttf");
    font-family: Bahnschrift;
}
.footer_container {
    /*border: 1px solid #ff0000;*/
    padding: 20px;
    max-width: 1980px;
    margin: 0px auto;
}