@import "background.css";
@import "default_set.css";
@font-face {
    src: url("../font/bahnschrift.ttf");
    font-family: Bahnschrift;
}
h1#footer_Text {
    text-align: center;
    color: #0000ff;
    font-size: 30px;
}