@import "background.css";
@import "default_set.css";

.links{
    /*border: 2px solid #000000;*/
    max-width: 1000px;
    max-height: 800px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: inherit;
}

.links > div{
  /*  background-image: url("../img/sample_img_300x300.png");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size : cover;
    -moz-background-size : cover;
    -o-background-size: cover;
    background-size: contain;*/

    border: 1px solid #ff0000;
    border-radius: 2vw;
    margin: 10px;
    max-width: 20vw;
    max-height: 20vw;
    text-align: center;
    overflow: hidden;
}
img.contain{

    object-fit: scale-down;
}

